*
!/trivia_project
!/trivia_project/trivia_project
!/client
!/client/client
!/client/client/Properties
!
!*.h
!*.cpp
!*.c
!*.hpp
!*.vcxproj
!*.vcxproj.filters
!*.Designer.cs
!*.resx
!*.sln
!*.py
!*.cs
!*.xaml
!*.config
!*.settings
!*..csproj
!.gitignore